body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    margin: 2rem;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

button, input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

form {
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea#description {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allows resizing only vertically */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

textarea#description:focus {
    border-color: #007BFF; /* Blue border on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

textarea#description::placeholder {
    color: #aaa;
    font-style: italic;
}

