{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Seller</title>
    <link rel="stylesheet" href="{% static 'edit_pages.css' %}"> 
</head>
<body>
    <div class="container">
        <h1>Edit Category</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="name">Category Name:</label>
            <input type="text" id="name" name="name" value="{{ category.name }}" required>
            
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
</html>

